#pokedex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    & .divider
    {
        position: inherit;
        
        &:before
        {
            content: "";
            position: absolute;
            top: 40px;
            left: 5%;
            right: 5%;
            width: 90%;
            height: 1px;
            background-image: linear-gradient(to right, transparent, #303133, transparent);
        }
        
        &:after
        {
            content: "";
            position: absolute;
            z-index: 1;
            top: 33px;
            left: calc(50% - 7px);
            width: 14px;
            height: 14px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: white;
            border-bottom: 1px solid #303133;
            border-right: 1px solid #303133;
        }        
    }

    & .padding{
        padding: 100px 100px 0 0;
    }

    .title{
        color: #59456F;
        display: inline-block;
        margin: 0;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    & .item {
        flex: 0 100 auto;

        &.pokemon{
            background-image: url('../../assets/base_pokemons.png');
            height: 100px;
            width: 100px;
            background-size: 1500px;
            z-index: 10;
            text-align: center;
            
            &.unknown{
                filter: contrast(0) brightness(0);
            }
        }

        span{
            text-align: center;
        }
    }
    
}