<ion-content>
	<div class="background">
		<img class="logo" src="../../assets/PokemonGo.png" alt="PokemonGoLogo">
	
		<div class="login-btns">
			<button class="loginBtn loginBtn-facebook" (click)="signInWithFB()">
				Login with Facebook
			</button>
					
			<button class="loginBtn loginBtn-google" (click)="signInWithGoogle()">
				Login with Google
			</button>
					
			<button class="loginBtn loginBtn-App" (click)="goToPage('app-login')">
				Login with App Account
			</button>
		</div>
	</div>
</ion-content>
