.background {
	background: url('../../assets/halloween_loading.jpeg') center no-repeat;
    background-size: cover;
	height: 100vh;
    display: block;
    opacity: 0.69;

	.logo{
		position: relative;
		left: 100px;
		bottom: -75px;
		width: 50%;
	}

	.login-btns{
		bottom: 50vh;
		position: absolute;
		left: 11vh;
	}

	.loginBtn {
		box-sizing: border-box;
		position: relative;
		width: 14em;
		margin: 5px;
		padding: 0 15px 0 46px;
		border: none;
		text-align: left;
		line-height: 34px;
		white-space: nowrap;
		border-radius: 0.2em;
		font-size: 16px;
		color: #FFF;
		left: 15px;

		&:before {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 34px;
			height: 100%;
		}

		&:focus {
			outline: none;
		}

		&:active {
			box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
		}
	}
	
	/* Facebook */
	.loginBtn-facebook {
		background-color: #4C69BA;
		background-image: linear-gradient(#4C69BA, #3B55A0);
		/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
		text-shadow: 0 -1px 0 #354C8C;

		&:before {
			border-right: #364e92 1px solid;
			background: url('../../assets/icon_facebook.png') 6px 6px no-repeat;
		}

		&:hover,
		&:focus {
			background-color: #5B7BD5;
			background-image: linear-gradient(#5B7BD5, #4864B1);
		}
	}
	
	/* Google */
	.loginBtn-google {
		/*font-family: "Roboto", Roboto, arial, sans-serif;*/
		background: #DD4B39;

		&:before {
			border-right: #BB3F30 1px solid;
			background: url('../../assets/icon_google.png') 6px 6px no-repeat;
		}

		&:hover,
		&:focus {
			background: #E74B37;
		}
	}
	
	/* App */
	.loginBtn-App {
		/*font-family: "Roboto", Roboto, arial, sans-serif;*/
		background: #395fdd;

		&:before {
			border-right: #3055bb 1px solid;
			background: url('../../assets/PokemonGoLogo.png') 6px 6px no-repeat;
		}

		&:hover,
		&:focus {
			background: #3766e7;
		}
	}
}