.marker {
	height: 100px;
	width: 35px;
	background-size: 35px;
	
	.hide{
		display: none;
	}
}
  
.pulse {
	border: none;
	box-shadow: 0 0 0 0 rgba(167, 167, 167, 0.7);
	border-radius: 50%;
	cursor: pointer;
	animation: pulse 1.25s 10 cubic-bezier(0.66, 0, 0, 1);

	&.stop{
		animation: none;
	}

	.pokemon{
		background-image: url('../assets/base_pokemons.png');
		height: 100px;
		width: 100px;
		background-size: 1500px;
		z-index: 10;

		&.unknown{
			filter: contrast(0) brightness(0);
		}

		&.shiny{
			background-image: url('../assets/shiny_pokemons.png');
		}

		&.hide{
			display: none;
		}
	}
}

.pokemon_battle{
	top: -140px;
}

@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(167, 167, 167, 0);}}

.mapboxgl-control-container{
	display: none;
}