.background {
	background: url('../../assets/halloween_loading.jpeg') center no-repeat;
    background-size: cover;
	height: 100vh;
    display: block;
    opacity: 0.69;

	.logo{
		position: relative;
		left: 100px;
		bottom: -75px;
		width: 50%;
	}

	.form{
		position: relative;
		left: 100px;
		top: 100px;

		.inputs{
			height: 30px;
			margin: 20px;
			display: flex;
			flex-direction: column;
			width: 200px;

			ion-input{
				background-color:white;
				margin-bottom: -10px;
				--padding-top: 0;
			}
		}

		#avatars{
			display: inline-block;
			/* flex-direction: column; */
			/* align-items: center; */
			text-align: center;
			/* left: 102px; */
		}

		.avatars > input{
			display: none;

			& + img{
				cursor: pointer;
				border: 2px solid transparent;
				width:50px;
			}

			&:checked + img{
				border: 2px solid red;
			}
		}
	}

	/* Shared */
	.loginBtn {
		box-sizing: border-box;
		width: 200px;
		margin: 5px;
		padding: 0 18px 0 46px;
		text-align: left;
		line-height: 19px;
		white-space: nowrap;
		border-radius: 30px;
		font-size: 19px;
		color: #FFF;

		p{
			text-align: center;
			transform: translateX(-15%);
		}

		&:before {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 34px;
			height: 100%;
		}
		&:focus {
			outline: none;
		}
		&:active {
			box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
		}
		
	}
	/* Facebook */
	.loginBtn-facebook {
		background-color: #006CFF;
		&:hover,
		&:focus {
			background-color: #006CFF;
		}
	}
}