<ion-content>
	<div class="background">
		<img class="logo" src="../../assets/PokemonGo.png" alt="PokemonGoLogo">
	
		<div class="form">
			
			<div class="inputs">
				<span>Name : </span>
				<ion-input type="text" name="name" [(ngModel)]="name" (keydown.enter)="register()"></ion-input>
			</div>

			<div class="inputs">
				<span>Email : </span>
				<ion-input type="email" name="email" [(ngModel)]="email" (keydown.enter)="register()"></ion-input>
			</div>
	
			<div class="inputs">
				<span>Password : </span>
				<ion-input type="password" name="password" [(ngModel)]="password" (keydown.enter)="register()"></ion-input>
			</div>
	
			<div class="inputs">
				<span>Confirm password : </span>
				<ion-input type="password" name="password_confirm" [(ngModel)]="password_confirm" (keydown.enter)="register()"></ion-input>
			</div>
	
			<div id="avatars">
				<h2>Choose your avatar : </h2>
				<div>
	
					<label class="avatars">
						<input type="radio" name="avatar" [(ngModel)]="avatar" value="girl.png">
						<img src="../../assets/girl.png" alt="Girl">
					</label>
					
					<label class="avatars">
						<input type="radio" name="avatar" [(ngModel)]="avatar" value="boy.png">
						<img src="../../assets/boy.png" alt="Boy">
					</label>

					<label class="avatars">
						<input type="radio" name="avatar" [(ngModel)]="avatar" value="not-binary.png">
						<img src="../../assets/not-binary.png" alt="Not-binary">
					</label>
	
				</div>
			</div>
	
			<button class="loginBtn loginBtn-facebook" (click)="register()"><p>Signup now !</p></button>
		</div>
	</div>
</ion-content>
