<ion-content>
	<div class="background">
		<img class="logo" src="../../assets/PokemonGo.png" alt="PokemonGoLogo">
	
		<div class="login-btns">
			<button class="SignupBtn SignupBtn-facebook" (click)="signInWithFB()">
				Signup with Facebook
			</button>
					
			<button class="SignupBtn SignupBtn-google" (click)="signInWithGoogle()">
				Signup with Google
			</button>
					
			<button class="SignupBtn SignupBtn-App" (click)="goToPage('app-signup')">
				Signup with App Account
			</button>
		</div>
	</div>
</ion-content>
