.background {
    background: url('../../assets/halloween_loading.jpeg') center no-repeat;
    background-size: cover;
    height: 100%;
    /* display: block; */
    opacity: 0.69;

	.logo{
		position: absolute;
		left: 25%;
		top: 10%;
		width: 50%;
	}

	.form{
		position: absolute;
		left: 25%;
		top: 35%;

		.inputs{
			height: 30px;
			margin: 20px;
			display: flex;
			flex-direction: column;
			width: 200px;

			ion-input{
				background-color:white;
				margin-bottom: -10px;
				--padding-top: 0;
			}
		}
	}

	.loginBtn {
		box-sizing: border-box;
		position: relative;
		width: 12.5em;
		margin: 5px;
		padding: 0 15px 0 46px;
		border: none;
		text-align: left;
		white-space: nowrap;
		border-radius: 0.2em;
		font-size: 16px;
		color: #FFF;
		left: 15px;

		p{
			text-align: center;
			transform: translateX(-15%);
		}
		
		&:before {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 34px;
			height: 100%;
		}

		&:focus {
			outline: none;
		}

		&:active {
			box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
		}
		
	}
	/* Facebook */
	.loginBtn-facebook {
		background-color: #006CFF;

		&:hover,
		&:focus {
			background-color: #006CFF;
		}
	}
}