<ion-content>
	<div class="background">
		<ion-img class="logo" src="../../assets/PokemonGo.png" alt="PokemonGoLogo"></ion-img>

		<div class="form">
			<div class="inputs">
				<span>Email : </span>
				<ion-input type="email" name="email" [(ngModel)]="email" (keydown.enter)="login()"></ion-input>
			</div>
			<div class="inputs">
				<span>Password : </span>
				<ion-input type="password" name="password" [(ngModel)]="password" (keydown.enter)="login()"></ion-input>
			</div>

			<button class="loginBtn loginBtn-facebook" (click)="login()"><p>Login</p></button>
		</div>
	</div>
</ion-content>