$times: (
	1: 0.1s,
	2: 0.3s,
	3: 0.5s,
);

#map, #canvas-container, app-pokedex {
	height: 100vh;
	width: 100vw;

	&.hide{
		display: none;
	}
}

app-pokedex.open{
	position: absolute;
	top: 0;
	right:0;
	overflow: auto;
	background: linear-gradient(135deg,  rgba(249,255,248,1) 0%,rgba(213,252,205,1) 48%,rgba(128,183,155,1) 100%);
}

#canvas.battle{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../assets/catch_background.png');
}

#container{
    width: 100%;
    z-index: 1;
    position: absolute;
    transition: all 1.5s;
    left: 0;
    top: 0;
    background: url('../../assets/halloween_loading.jpeg') center no-repeat;
    background-size: cover;
    height: 100vh;
	display: block;

	&.hide{
		display:none;
	}
}
  
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 200px;
	z-index: 100;
	transform: translate(-50%, -50%);
	display: flex;
}

.u-bounce {
	animation: loader 750ms infinite;
}

$size: 50px;
  
.loader{
	display: flex;
}
  
@for $i from 1 through 3 {
	.o-pokeball-#{$i}{
		animation-delay: map-get($map: $times, $key: $i);
	}
}
  
.o-pokeball {
	width: $size +2;
	height: $size;
	border-radius: $size;
	border: solid ($size/25) black;
	position: relative;    
	background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%);;
	margin: 10px;
	
	&:before,
	&:after{
	  content: "";
	  display: block;
	}
	
	&,
	&:before,
	&:after{
	  transition: all 600ms cubic-bezier(.67,.4,.36,.75);
	}
	
	&:before {
	  width: $size - 1;
	  height: ($size/2) -($size/25/2);
	  border-bottom: solid ($size/25) black;
	  border-radius: ($size/2) ($size/2) 0 0;
	  background: linear-gradient(to bottom, #d10000 0%,#ff0000 50%);
	}
	
	&:after {
	  content: "";
	  width: $size/5;
	  height: $size/5;
	  background: linear-gradient(to bottom, #fff 0%,#ccc 100%);
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%,-50%);
	  border-radius: 50%;
	  box-shadow: 0 0 0 ($size/50) black,
				  0 0 0 ($size/25) #ddd,
				  0 0 0 ($size/14) black,
				  0 0 ($size/10) ($size/17) rgba(0,0,0,0.4);
	}
}

@keyframes loader{
	0%{
		margin-top: 10px;
	}
	50%{
		margin-top: -10px;
	}
	100%{
		margin-top:10px;
	}
}

#button-background {
	background: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(195,251,184,0.9) 100%);
  
	display:block;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;

	&.hide{
		display: none;
	}
  }
  

#buttons{

	&.hide{
		display: none;
	}

	button{
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 100%;
		text-align: center;
	}
	  
	button label {
		width: 100%;
		text-transform: uppercase;
		color: #1d8696;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: -22px;
		font-size: 7.6pt;
		font-weight: 600;
		letter-spacing: .5px;
	}
	  
	button .icon{
		display: block;
		width: 60px;
		height: 60px;
		background-size: contain;
		z-index: 15;
		top: -2px;
		left: -2px;
		position: absolute;
	}
	  
	#b1 .icon{
		  background-image: url(https://i.imgur.com/TPjpw1X.png);
	}
	
	#b2 .icon{
		  background-image: url(https://i.imgur.com/ND09g0n.png);
	}
	
	#b3 .icon{
		  background-image: url(https://i.imgur.com/SpQtMSj.png);
	}
	
	#close .icon{
		  width: 45px;
		  height: 45px;
		  top: -2px;
		  left: -2px;
		  background-image: url(https://i.imgur.com/VxDV1ox.png);
	}
	  
	input, button, submit { border:none; } 
	button:focus {
		outline: none;
	}
	  
	#home {
		background-color: #ff3945;
		z-index: 10;
	  
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		box-shadow: inset 0 0 0 2px rgba(212,211,211,.5), 0 0 2pt 1pt #979797;
	}
	  
	#home::before{
		content: '';
		position: absolute;
		display: block;
		width: 12px;
		height: 12px;
		z-index: 12;
		border-radius: 20px;
		background-color: #b9b9b9;
		border: #ffffff 3px solid;
		top: 11px;
		left: 11px;
	}
	  
	#home::after{
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		height: 20px;
		z-index: 11;
		border-radius: 0 0 40px 40px;
		background-color: #ffffff;
		bottom: 0px;
		left: 0px;
		box-shadow: inset 0 0 0 2px rgba(212,211,211,.5);
	}
	  
	#close {
		background-color: rgba(255,255,255,.2);
		width: 45px;
		height: 45px;
		bottom: 30px;
		z-index: 9;
		transform: scale(1.5,1.5);
		opacity: 0;
		-moz-transition: all .4s cubic-bezier(.19,0,0,1.45);
		-webkit-transition: all .4s cubic-bezier(.19,0,0,1.45);
		transition: all .4s cubic-bezier(.19,0,0,1.45);
		border: rgba(192,192,192,.5) 2px solid;
	}
	  
	#close:active {
		background-color: rgba(190,190,190,.3);
	}
	  
	#close::before {
		background-color: #f0fff1;
		content: '';
		position: absolute;
		display: block;
		width: 31px;
		height: 31px;
		z-index: 11;
		border-radius: 100%;
		border: #1d8696 1px solid;
		top: 4px;
		left: 4px;
		-moz-transition: all .4s cubic-bezier(.19,0,0,1.45);
		-webkit-transition: all .4s cubic-bezier(.19,0,0,1.45);
		transition: all .4s cubic-bezier(.19,0,0,1.45);
	}
	  
	#close:active::before {
		background-color: rgba(190,190,190,.3);
	}
	  
	.item {
		background-color: rgba(255,255,255,.2);
		-moz-transition: all .4s cubic-bezier(.19,0,0,1.45);
		-webkit-transition: all .4s cubic-bezier(.19,0,0,1.45);
		transition: all .4s cubic-bezier(.19,0,0,1.45);
		opacity: 0;
		border: rgba(192,192,192,.5) 2px solid;
		width: 60px;
		height: 60px;
	}
	
	.item:active {
		background-color: rgba(190,190,190,.3);
	}
	  
	.item::before {
		background-color: #f0fff1;
		content: '';
		position: absolute;
		display: block;
		width: 46px;
		height: 46px;
		z-index: 11;
		border-radius: 100%;
		border: #1d8696 1px solid;
		top: 4px;
		left: 4px;
		transition: all 0.4s cubic-bezier(0.19, 0, 0, 1.45);
	}
	  
	.item:active::before {
		background-color: rgba(190,190,190,.3);
	}
}
