<ion-content>

	<div id="container">
		<div class="loader">
			<div class="o-pokeball o-pokeball-1 c-loader u-bounce"></div>
			<div class="o-pokeball o-pokeball-2 c-loader u-bounce"></div>
			<div class="o-pokeball o-pokeball-3 c-loader u-bounce"></div>
	  	</div>
	</div>

	<div id="map">
		<div id="button-background" class="hide"></div>
		<div id="buttons" class="hide">
			<button class="item" id="b1">
				<div class="icon"></div>
				<label>Pokémon</label>
			</button>
			<button class="item" id="b2">
				<div class="icon"></div>
				<label>Items</label>
			</button>
			<button class="item" id="b3">
				<div class="icon"></div>
				<label>Pokédex</label>
			</button>
				
			<button id="home"></button>
			<button id="close">
				<div class="icon"></div>
			</button>
		</div>
					  
		<div id="canvas-container" class="hide">
			<canvas id="canvas" class="hide"></canvas>
			<img class="hide" id="pokeballs" src="../../assets/pokeball.png" alt="PokeBalls">
		</div>
	</div>

	<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
	<app-pokedex id="app-pokedex" class="hide"></app-pokedex>
</ion-content>
