<ion-content>
	<div class="background">
		<ion-img class="logo" src="../../assets/PokemonGo.png" alt="PokemonGoLogo"></ion-img>
	
		<div class="login-btns">
			<button class="loginBtn loginBtn-" (click)="goToPage('signin')">
				<p>Login</p>
			</button>
			
			<button class="loginBtn loginBtn-" (click)="goToPage('signup')">
				<p>Signup</p>
			</button>
		</div>
	</div>
</ion-content>