.background {
    background: url('../../assets/halloween_loading.jpeg') center no-repeat;
    background-size: cover;
    height: 100%;
	/* display: block; */
	opacity: 0.69;
	
	.logo{
		position: absolute;
		left: 25%;
		top: 10%;
		width: 50%;
	}

	.login-btns{
		bottom: 50%;
		position: absolute;
		left: 25%;

		p{
			text-align: center;
			transform: translateX(-15%);
		}

		.loginBtn {
			box-sizing: border-box;
			position: relative;
			width: 200px;
			margin: 10px;
			padding: 0 18px 0 46px;
			text-align: left;
			line-height: 23px;
			white-space: nowrap;
			border-radius: 30px;
			font-size: 16px;
			color: #FFF;
			top: 50px;
	
			&:before {
				content: "";
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				width: 34px;
				height: 100%;
			}
	
			&:focus {
				outline: none;
			}
			
			&:active {
				box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
			}
		}

		.loginBtn- {
			background-color: #006CFF;
	
			&:hover,
			&:focus {
				background-color: #006CFF;
			}
		}
	}
}